button {
    margin: 0px 115px 0px;
color: #000000;
background-color: #ffffff;
border: 0px solid #000000;
border-radius: 100px;
padding: 10px 10px;
cursor: pointer;
height:70px;
width: 200px;
font-size:20px;
font-weight: bold;
transition: all 0.2s ease-in-out;
}
button:hover {
box-shadow: 1px 1px #ea5353, 2px 2px #53a7ea, 3px 3px #53a7ea;
transform: translateX(-3px);
}